@keyframes music-first{
    0% {
        height: 20px;
    }
    100% {
        height: 70px;
    }
}
@keyframes music-sec{
    0% {
        height: 20px;
    }
    100% {
        height: 90px;
    }
}
@keyframes music-third{
    0% {
        height: 20px;
    }
    100% {
        height: 100px;
    }
}
@keyframes blink{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

img {
   display: block;
   width: 100%;
   height: auto;
}
ul li {
    list-style-type: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto', Arial;
    position: relative;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
a,a:hover,a:focus,a:link,a:visited,a:active {
    text-decoration: none;
}
.container {
    margin: 0 auto;
}
main h1 {
    color: tomato;
    text-align: center;
    padding: 40px 0;
    letter-spacing:  2px;
}
main p {
    font-size: 16px;
    line-height: 28px;
}
main .more {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    background-color: orange;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 3px 0px darkorange;
}
main .more:hover {
    background-color: darkorange;
    box-shadow: 0px 3px 0px orange;
}
.pre-overlay {
    position: fixed;
    width: 100%;
    height: 50%;
    background-color: #222;
    z-index: 50;
    transition: all 1.8s ease;
}
.pre-overlay.o-1 {
    left: 0;
    top: 0;
}
.pre-overlay.o-2 {
    right: 0;
    bottom: 0;
}
#preloader {
    display: flex;
    position: fixed;
    z-index: 100;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#preloader p {
    font-size: 20px;
    color: cyan;
    margin: 25px auto auto auto;
    text-transform: uppercase;
    text-align: center;
}
#preloader.animation p {
    animation-name: blink;
    animation-duration: .85s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}
#preloader .decor {
    width: 30px;
    height: 100px;
    margin: auto auto 0 auto;
    position: relative;
}
#preloader .decor .bar {
    height: 100px;
    background-color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
#preloader.animation .decor .bar {
    animation-name: music-sec;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    max-height: 90px;
}
#preloader .decor::before {
    display: block;
    content: "";
    width: 30px;
    height: 70px;
    position: absolute;
    left: -45px;
    bottom: 0px;
    background-color: #fff;
}
#preloader.animation .decor::before {
    animation-name: music-first;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}
#preloader .decor::after {
    display: block;
    content: "";
    width: 30px;
    height: 70px;
    background-color: #fff;
    left: 45px;
    bottom:  0;
    position: absolute;
}
#preloader.animation .decor::after {
    animation-name: music-third;
    animation-duration: .75s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}
#preloader.over {
    display: none;
}