<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SAVN</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/icon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo" style="padding-bottom: 20px;">
        <h1><a href="{{ url_for('index') }}">SAVN</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#steps">Steps</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('sentimentanalysis') }}">System</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{{ url_for('static', filename='img/bg-vid.mp4') }}" type="video/mp4">
    </video>

    <div class="overlay">
      <div class="container text-center text-md-left" data-aos="fade-up">
        <h1>Sentiment Analysis of Voice Notes</h1>
        <h2></h2>
        <a href="#about" class="btn-get-started scrollto">Learn More</a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-xl-6 col-lg-7" data-aos="fade-right">
            <img src="{{ url_for('static', filename='img/icon.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">About the system</h3><br>
            <p data-aos="fade-up" style="text-align: justify; text-justify: inter-word;">
              Sentiment analysis is the interpretation and classification of emotions (positive, negative and neutral) 
              within data using several analysis techniques. Sentiment analysis and opinion mining have been acquiring a 
              crucial role in both commercial and research applications because of their possible applicability to several 
              different fields. For example in business : social media monitoring, customer support, brand monitoring, analysis 
              of a customer’s voice, market research and competitive research, etc. Although sentiment analysis has evolved over 
              the past few decades, most of the work in it revolved around textual sentiment analysis with text mining techniques. 
              Nevertheless, sentiment analysis on Audio data is also an extremely important field, as sentiment analysis on audio 
              can be used to classify many different interactions between businesses and their customers/users. For example: Audio 
              sentiment analysis can be used to classify the different types of calls that customer service centers receive for further 
              analysis. It can also be used to classify other data such as audiobooks, podcasts, etc. Our software system aims to make 
              sentiment analysis on audio files available to the wider public by having it hosted on a cloud platform. This method of 
              deployment eliminates the need for an individual use to possess the necessary resources required to perform the analysis.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Steps Section ======= -->
    <section id="steps" class="steps section-bg">
      <div class="container">
        <center>
          <div class="section-title" data-aos="fade-up">
            <h2>Steps involved</h2>
            <!-- <p></p> -->
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
              <div class="icon-box icon-box-pink" style="margin-bottom: 20px;">
                <div class="icon"><i class="bx bx-user-voice"></i></div>
                <h4 class="title"><a href="">Input</a></h4>
                <p class="description">The input provided by the user should consist of any voice recording. The uploaded audio must be a MP3 file.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box icon-box-cyan" style="margin-bottom: 20px;">
                <div class="icon"><i class="bx bx-code"></i></div>
                <h4 class="title"><a href="">Pre-processing</a></h4>
                <p class="description">The audio file is converted into wav format and segmented into 30 second clips. Audio features are then extracted from each clip for sentiment analysis</p>
              </div>
            </div>

            <!-- <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box icon-box-cyan" style="margin-bottom: 20px;">
                <div class="icon"><i class="bx bx-code"></i></div>
                <h4 class="title"><a href="">Pre-processing</a></h4>
                <p class="description">The audio file is converted into wav format. This wav file is segmented into 30 second clips for further processing.</p>
              </div>
            </div> -->

            <!-- <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
              <div class="icon-box" style="margin-bottom: 20px; color: #957DAD;">
                <div class="icon"><i class="bx bx-equalizer"></i></div>
                <h4 class="title"><a href="">Audio feature extraction</a></h4>
                <p class="description" style="color: black;">Audio features such as mfcc, spectral centroid, etc are extracted from each audio segment for audio sentiment analysis.</p>
              </div>
            </div> -->
            
            <!-- <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box icon-box-green" style="margin-bottom: 20px;">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">Transcription</a></h4>
                <p class="description">Using IBM's Watson Speech to Text transcription tool, every audio segment is transcribed for text sentiment analysis.</p>
              </div>
            </div> -->

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box" style="margin-bottom: 20px; color: #88CEFB;">
                <div class="icon"><i class="bx bx-network-chart"></i></div>
                <h4 class="title"><a href="">Sentiment analysis</a></h4>
                <p class="description" style="color: black;">The audio features and transcriptions are passed to a hybrid sentiment analysis model that predicts an emotion for each segment.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box" style="margin-bottom: 20px; color:#f8f858;">
                <div class="icon"><i class="bx bx-smile"></i></div>
                <h4 class="title"><a href="">Output</a></h4>
                <p class="description" style="color: black;">In the final page the user will be presented with the audio segments along with their predicted emotions respectvely.</p>
              </div>
            </div>

          </div>

        </center>
      </div>
    </section><!-- End Steps Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p></p>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team/Dan.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Daniel Lobo</h4>
                  <span>St. Francis Institute of Technology<br>BE CMPN A - 06</span>
                </div>
                <div class="social">
                  <a href="mailto:danlobo1999@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
                  <a href="https://github.com/danlobo1999" target="_blank"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/xeptonix/" target="_blank"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/daniellobo1999/"><i class="bi bi-linkedin" target="_blank"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team/Jen.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jenny Dcruz</h4>
                  <span>St. Francis Institute of Technology<br>BE CMPN A - 14</span>
                </div>
                <div class="social">
                  <a href="mailto:jendcruz23@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
                  <a href="https://github.com/jendcruz22" target="_blank"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/jennydcruz22/" target="_blank"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/jennydcruz/"><i class="bi bi-linkedin" target="_blank"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team/Smi.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Smita Deulkar</h4>
                  <span>St. Francis Institute of Technology<br>BE CMPN A - 17</span>
                </div>
                <div class="social">
                  <a href="mailto:smitashobha1999@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
                  <a href="https://github.com/smita3199" target="_blank"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/smita_deulkar/" target="_blank"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/smitadeulkar/"><i class="bi bi-linkedin" target="_blank"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team/Lder.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Leander Fernandes</h4>
                  <span>St. Francis Institute of Technology<br>BE CMPN A - 18</span>
                </div>
                <div class="social">
                  <a href="mailto:fernandeslder@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
                  <a href="https://github.com/fernandeslder" target="_blank"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/lderfernandes/" target="_blank"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/fernandeslder/"><i class="bi bi-linkedin" target="_blank"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" style="background-color: black;">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="footer-info">
              <h3>SAVN</h3>
              <p>
                St. Francis Institute of Technology <br>
                Mount Poinsur,<br>
                Borivali West, <br>
                Mumbai, <br>
                Maharashtra 400103. <br>
              </p>
              <a href="#team">Contact Us</a>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#steps">Steps</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('sentimentanalysis') }}">System</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        Copyright &copy;  
        <script>
          document.write(new Date().getFullYear());
        </script>
        All Rights Reserved.
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#hero" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  
  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>