<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SAVN</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/icon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo" style="padding-bottom: 20px;">
        <h1><a href="{{ url_for('index') }}">SAVN</a></h1>
        <!-- <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/icon.png') }}" alt="" class="img-fluid">SAVN</a> -->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto" href="{{ url_for('index', _anchor='hero') }}">Home</a></li>
            <li><a class="nav-link scrollto" href="{{ url_for('index', _anchor='about'), }}">About</a></li>
            <li><a class="nav-link scrollto" href="{{ url_for('index', _anchor='steps') }}">Steps</a></li>
            <li><a class="nav-link scrollto active" href="#system">System</a></li>
            <li><a class="nav-link scrollto" href="{{ url_for('index', _anchor='team') }}">Team</a></li>
          </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
    
    <!-- ======= System Section ======= -->
    <section id="system" class="system">
      <div class="container">
        <center>
          <div class="section-title" data-aos="fade-up" style="padding-top: 70px;">
            <h2>System</h2>
            <p>Upload a voice note in the form of an mp3 file below.</p>
          </div>
          <div class="row mt-5 justify-content-center" data-aos="fade-up">
            <div class="col-lg-10">
              <form action="" method="post" role="form" class="php-email-form" enctype=multipart/form-data>
                <input class="form-control" type="file" id="myFile" name="filename" style="margin-bottom: 20px; padding-top: 11px; padding-left: 18px;">
                <!-- <div class="text-center">
                  <a class="form-control" href="{{ url_for('sentimentanalysis') }}">Upload VoiceNote</a>
                </div> -->
                
                <input type=submit value=Upload style="background-color: #3AAFA9; border-color: #3AAFA9; color: white;">
                <!-- <div class="text-center">
                  <button type="submit">Upload VoiceNote</a></button>
                </div> -->
              </form>
            </div>
          </div>
        </center>
      </div>
    </section><!-- End System Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <!-- <footer id="footer">
    <div class="container">
      <div class="copyright">
        Copyright &copy;  
        <script>
          document.write(new Date().getFullYear());
        </script>
        All Rights Reserved.
      </div>
    </div>
  </footer> -->
  <!-- End Footer -->

  <a href="#hero" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  
  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>