<!DOCTYPE html>
<html lang="en">
    
    <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
      <title>SAVN</title>
      <meta content="" name="description">
      <meta content="" name="keywords">
    
      <!-- Favicons -->
      <link href="{{ url_for('static', filename='img/icon.png') }}" rel="icon">
      <link href="{{ url_for('static', filename='img/icon.png') }}" rel="apple-touch-icon">
    
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
      <!-- Vendor CSS Files -->
      <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    
      <!-- Template Main CSS File -->
      <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/preloader.css') }}" rel="stylesheet">
      
    </head>
    
    <body>
      
      <!-- ======= Header ======= -->
      <header id="header" class="fixed-top d-flex align-items-center">

        <!-- ======= Preloader ======= -->
        <div id="full_preloader" style="display: none;">
          <div id="preloader" class="animation">
            <div class="decor">
              <div class="bar"></div>
            </div>
            <p>Loading...</p>
          </div>
        
          <div  class="pre-overlay o-1"></div>
          <div  class="pre-overlay o-2"></div>
        </div>
        <div class="container d-flex justify-content-between">
    
          <div class="logo" style="padding-bottom: 20px;">
            <h1><a href="{{ url_for('index') }}">SAVN</a></h1>
            <!-- <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/icon.png') }}" alt="" class="img-fluid">SAVN</a> -->
          </div>
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a href="{{ url_for('index', _anchor='hero') }}">Home</a></li>
              <li><a class="nav-link scrollto" href="{{ url_for('index', _anchor='about') }}">About</a></li>
              <li><a class="nav-link scrollto" href="{{ url_for('index', _anchor='steps') }}">Steps</a></li>
              <li><a class="nav-link scrollto active" href="#hero">System</a></li>
              <li><a class="nav-link scrollto" href="{{ url_for('index', _anchor='team') }}">Team</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
    
        </div>
    </header><!-- End Header -->
  
    <main>
        <!-- ======= System Section ======= -->
        <section id="system" class="system" style="padding-top: 180px; padding-bottom: 180px; background-color: #f2f9f8;">
          <div class="preloader-container">
            <div class="container">
              <center>
                <div class="row mt-5 justify-content-center" data-aos="fade-up">
                  <div class="section-title" data-aos="fade-up">
                    <h2>System</h2>
                    <p>Upload a voice note in the form of an mp3 file below.</p>
                </div>
                
                <div class="col-lg-10">
                  <form action="" method=post role="form" class="php-email-form" enctype=multipart/form-data style="vertical-align: middle; padding-top: 40px;">
                    <p><input type=file size="60" name=file
                      style="padding: 7px; 
                      padding-right: 0px;
                      width: 500px;">
                      <input type=submit value=Upload 
                      style="height: 40px;
                      padding: 3px;
                      padding-left: 50px;
                      padding-right: 50px;
                      border-radius: 5%;
                      border-color: lightgrey;
                      outline: none;
                      box-shadow: none;
                      font-size: 14px;"
                      onclick="showDiv()">
                  </form>
                </div>
              </center>
            </div>
          </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top" style="background-color: black;">
        <div class="container">
          <div class="row">

            <div class="col-lg-6 col-md-6">
              <div class="footer-info">
                <h3>SAVN</h3>
                <p>
                  St. Francis Institute of Technology <br>
                  Mount Poinsur,<br>
                  Borivali West, <br>
                  Mumbai, <br>
                  Maharashtra 400103. <br>
                </p>
                <a href="#team">Contact Us</a>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#about">About</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#steps">Steps</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('sentimentanalysis') }}">System</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          Copyright &copy;  
          <script>
            document.write(new Date().getFullYear());
          </script>
          All Rights Reserved.
        </div>
      </div>
    </footer><!-- End Footer -->

    <a href="#hero" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
      <!-- Vendor JS Files -->
      <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
      
      <!-- Template Main JS File -->
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
      
      <script>
        function showDiv(){
          var full_preloader = document.getElementById("full_preloader");
          full_preloader.style.display='block';
        }
      </script>
    
    </body>
    
    </html>